.btn {
    width: 100%;
    font-size: x-large;
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: gray;
    color: white;
}

@media screen and (max-width: 800px) {
    .btn {
        font-size: x-large;
    }
}